<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventario</title>
</head>
<body>
    <h1>Inventario</h1>
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Estatus</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="producto : ${productos}">
            <td th:text="${producto.nombre}"></td>
            <td th:text="${producto.precio}"></td>
            <td th:text="${producto.cantidad}"></td>
            <td th:text="${producto.estatus}"></td>
        </tr>
        </tbody>
    </table>
    <br>

    <h3>Selecciona un Producto</h3>
    <form th:action="@{/producto/estatus}" th:object="${producto}" method="post">
        <label for="producto">Producto:</label>
        <select id="producto" name="producto" onchange="updateEstatus()">
            <option value="" disabled selected> Selecciona un producto </option>
            <option th:each="producto : ${productos}"
                    th:value="${producto.idproducto}"
                    th:text="${producto.nombre}"
                    th:estatus="${producto.estatus}">
            </option>
        </select>

        <br>

        <label for="estatus">Estatus:</label>
        <input type="number" id="estatus" name="estatus"  min="0" oninput="prevent(this)">

        <button type="submit">Guardar</button>
    </form>
    <br>
    <br>
    <a href="/producto/nuevo">Agregar nuevo</a>
    <br>
    <br>
    <a href="/home">Regresar</a>

    <script>
        function updateEstatus() {
            const select = document.getElementById('producto');
            const inputEstatus = document.getElementById('estatus');

            const selectedOption = select.options[select.selectedIndex];

            const estatus = selectedOption.getAttribute('estatus');

            inputEstatus.value = estatus;
        }

        function prevent(input) {
            const select = document.getElementById('producto');
            const inputEstatus = document.getElementById('estatus');

            const selectedOption = select.options[select.selectedIndex];

            const estatus = selectedOption.getAttribute('estatus');

            const valueO = 1;

            const currentValue = parseInt(input.value, 10) || 0;

            if (currentValue > valueO) {
                inputEstatus.value = 1;
            }
        }
    </script>
</body>
</html>